<?xml version="1.0"?>
<!--
    /**
     *@package Vegam_Homepage
     */
-->     
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vegam_Homepage::menus_homeblock" title="Home Management" sortOrder="51">
                </resource>
            </resource>
        </resources>
    </acl>
</config>
